@{
    ViewBag.Title = "Home";
}

@section Header{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="carousel slide" id="carousel-788967">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-788967">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-788967">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-788967">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Carousel Bootstrap First" src="http://micabeauty.ae/media/easyslide/Main_Banners_1.jpg" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Second" src="http://micabeauty.ae/media/easyslide/Main_Banners_2.jpg" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="http://micabeauty.ae/media/easyslide/Main_Banners_3.jpg" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-788967" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-788967" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
}
<div id="allProducts"></div>
@section Filters {
<div id="allFilters"></div>
}
@section Scripts{
    <script>
        $(function () {
            $('#allProducts').load('@Url.Action("Index", "Products")')
            $('#allFilters').load('@Url.Action("ProductFilters", "Products")')
        })
    </script>
}