@model IEnumerable<ChangeNotification>

@{ 
    Layout = null;
}

<div class="list-group">
    @foreach (ChangeNotification item in Model)
    {
        <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> @ChangeNotification.StateNames[item.State] @item.Name
            <span class="pull-right text-muted small">
                <em>@String.Format("преди {0} минути", (DateTime.Now - item.ChangeDate).Minutes)</em>
            </span>
        </a>
    }
</div>

